.product-container {
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
  background-color: #fff;
  color: #222;
}

.product-image-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
  flex-direction: column;
  padding: 0 16px;
  overflow: hidden;
  position: relative;
}

.main-image-wrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: auto;
  border-radius: 10px;
  position: relative;
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.main-image-wrapper::-webkit-scrollbar {
  display: none;
}

.main-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}


.thumbnail-container {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.thumbnail {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
}

.product-details {
  padding: 0 16px;
}

.product-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
  padding-left: 16px;
}

.product-description {
  font-size: 20px;
  margin-bottom: 12px;
}

.line{
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin: 16px 0;
}
.dynamic-price-highlight {
  margin-bottom: 16px;
  margin-top: 0;
  display: flex;
  align-items: end;
}

.dynamic-price-highlight p{
  font-size: 15px !important;
  color: #555;
  margin: 0 0 11px 5px;
}

.dynamic-price-highlight h3 {
  font-size: 60px;
  color: #fa7e17;
  margin: 0;
  display: flex;
  align-items: start;
  font-weight: 500;
  padding: 0;
}

.dynamic-price-highlight b {
  font-size: 20px;
  height: 100%;
  font-weight: normal;
  margin: 10px 5px 0 0;
}

.dynamic-price-highlight p {
  font-size: 0.9rem;
  color: #555;
}

.price-scroll-list {
  display: flex;
  overflow-x: auto;
  gap: 5px;
  padding-bottom: 12px;
  margin-bottom: 16px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.price-scroll-list::-webkit-scrollbar {
  display: none;
}

.product-details .p-info-prices{
  font-size: 12px;
}

.price-block {
  font-size: 12px;
  min-width: 100px;
  border-radius: 8px;
  text-align: center;
 opacity: 60%;
}

.price-block.active {
  opacity: 100%;
}

.price-block .price-amount {
  font-weight: bold;
  margin: 0;
}

.price-block .price-condition {
  color: #555;
  margin: 0;
}

.selectors {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.unit-selector,
.quantity-selector {
  flex: 1;
}

.unit-selector label,
.quantity-selector label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 4px;
  font-weight: bold;
}

.unit-selector select,
.quantity-selector select {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.quantity-selector .highlight-quantity,
.unit-selector .highlight-quantity {
  border: 2px solid red !important;
}

.add-to-cart {
  margin-top: 10px;
  padding: 1rem 1rem;
  background-color: #fa7e17;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 100%;
  font-size: 1.2rem;
}

.add-to-cart:hover {
  background-color: #444;
}

/* Info proveedor */
.product-provider-info {
  padding: 0;
}

.product-provider-info h1 {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}

.product-provider-info p {
  font-size: 14px;
  margin: 4px 0;
}

.product-provider-info .p-name-provider {
  font-size: 22px;
  font-weight: bold;
  margin: 15px 0;
}

.product-provider-info .p-calf-provider {
  font-size: 13px;
  color: #666;
  margin: 0;
}

.product-provider-info .p-desc-provider {
  font-size: 15px;
  margin-bottom: 12px;
}

.warning-text {
  margin-top: 10px;
  font-size: 0.85rem;
  background-color: #fff3cd;
  color: #856404;
  padding: 10px;
  border: 1px solid #ffeeba;
  border-radius: 6px;
}

.more-products-title {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

@media (min-width: 768px) {
  .product-container {
    flex-direction: row;
    gap: 24px;
  }

  .product-image-section,
  .product-details {
    flex: 1;
  }

  .main-image {
    max-width: 100%;
  }

  .thumbnail-container {
    flex-direction: row;
    justify-content: center;
  }
}


.arrow {
  font-size: 50px;
  color: black;
  cursor: pointer;
  transition: color 0.2s;
  font-weight: bold;
  position: absolute;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15% !important;
}

.arrow.left {
  left: 0;
  margin-left: 16px;
}
.arrow.right {
  right: 0;
  margin-right: 16px;
}

.dozens-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-bottom: 10px;
}

.dozens-info p {
  font-size: 20px;
  margin: 0;
}

.dozenz-unit{
  border: 1px solid #555;
  margin-top: 2px;
  text-align: center;
}

.dozenz-unit p{
  margin: 0;
  font-size: 12px !important;
}

.dozenz-unit p:first-child{
  background-color: #555;
  color: #fff;
}