.menu-toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  color: white;
  margin-right: 20px !important;
}

.provider-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
  z-index: 1000;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: 'Ubuntu', sans-serif;
}

.provider-menu {
  background-color: white;
  width: 70vw;
  max-width: 400px;
  height: 100%;
  padding: 1rem;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  position: relative;
  transform: translateX(-100%);
  animation: slideFromLeft 0.3s forwards ease-out;
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-header .provider-info{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 50px 0;
}

.provider-info h3{
  margin: 0;
  font-size: 25px;
  font-weight: 500; 
}

.provider-info p{
  margin: 0;
  font-size: 15px;
  font-weight: 400; 
}

.menu-header .close-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #fa7e17;
  position: absolute;
  right: 0;
  padding: 0 !important;
  margin: 0 !important;
  width: 50px;
  font-size: 30px;
}

.provider-menu ul {
  list-style: none;
  padding: 1rem 0 0;
  margin: 0;
}

.provider-menu li {
  margin-bottom: 0.75rem;
}

ul li .user-button{
  text-decoration: none;
  background-color: white;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: black;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 1rem;
}

.icon-left,
.icon-right {
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  flex-grow: 1;
  text-align: left;
}

.user-button.active {
  background-color: #fa7e17;
  color: white;
}

.user-button:hover svg {
  color: white;
}

.user-button.mg{
  margin-bottom: 1rem;
}