.orders-page{
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 15px;
}

.new-order-btn{
    background-color: #fa7e17;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
    width: auto;
}