.bar-sup{
    display: flex;
    color: white;
    overflow-x: auto;
    white-space: nowrap;
    align-items: center;
    width: 100vw;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
}

.bar-sup::-webkit-scrollbar {
    display: none;
  }

.bar-sup #link-sup{
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin-top: 0;
    margin-left: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

.bar-sup #link-sup:last-of-type{
    margin-right: 2rem;
}