.profile-container{
    font-family: 'Ubuntu', sans-serif;
    background-color: #f5f5f5;
}

.no-user-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    background-color: white;
}

.no-user-container h2{
    font-size: 20px;
    margin: 0 0 1rem 0;
}

.no-user-container p{
    font-size: 16px;
    margin: 0;
    margin: 1rem 0;
}

.no-user-container a{
    text-decoration: none;
    color: white;
    background-color: #fa7e17;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 25px;
}

.user-container{
    font-size: 25px;
}

.user-container .user-info{
    background-color: white;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-container .user-name{
    font-weight: bold;
    color: #fa7e17;
    margin-left: 0.5rem;
}

.user-buttons{
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
}

.user-buttons .user-button{
    text-decoration: none;
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: black;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
}

.icon-left,
.icon-right {
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  flex-grow: 1;
  text-align: left;
}

.user-button.logout {
  background-color: red;
  color: white;
  margin: 1rem 0;
}

.user-button:hover {
  background-color: #fa7e17;
  color: white;
}

.user-button:hover svg {
  color: white;
}

.user-button.mg{
  margin-bottom: 1rem;
}