.header.minimal{
    height: 10vh;
    align-items: start;
    justify-content: center;
}

.header.minimal #h-title{
    margin: 0;
    width: auto;
}

.header{
    display: flex;
    background-color: #001634;
    height: 23vh;
    width: 100vw;
    align-items: center;
    flex-direction: column;
}

.header #h-title{
    color: white;
    font-family: 'Sugo', sans-serif;
    font-weight: normal;
    font-size: 40px;
    width: 80vw;
    text-align: center;
    cursor: pointer;
}

.header .buttons{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.buttons button{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.header #h-title b{
    color: #fa7e17;
    font-weight: normal;
}

.header .buttons #icons{
    color: white;
}

.header .buttons #icons:nth-child(1){
    height: 40px;
}

.header .buttons #icons{
    height: 25px;
}

.header.search-bar{
    height: auto;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header.search-bar .back-button-header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 25px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.header.search-bar .back-button-header:hover{
    color: #fa7e17;
}

.header.search-bar .search{
    width: 85%;
    background-color: white;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}