.product {
  margin: 0;
    display: flex;
    flex-direction: column;
    height: 260px;
    width: 160px;
    margin: 10px;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
  }
  
  .product .product-image {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .product .product-info {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
  
  .product .product-info .product-name {
    font-size: 13px;
    margin: 0;
    font-weight: normal;
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .product-rating {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  
  .product-rating .rating-text {
    font-size: 12px;
    color: #888;
    margin-left: 5px;
  }
  
  .product-rating .star-icon {
    margin: 0;
    color: black;
    font-size: 11px;
  }

  .product-price-inf{
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  
  .product-price-highlight {
    position: relative;
  }
  
  .main-price {
    font-size: 20px;
    font-weight: 500;
    color: #fa7e17;
    margin: 0;
    display: flex;
  }

  .main-price span{
    font-size: 10px;
    font-weight: 500;
    margin-top: 5px;
  }
  
  .price-note {
    font-size: 10px;
    color: #666;
    margin: 0;
  }
  
  .tooltip-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .price-more-info {
    font-size: 13px;
    color: #999;
    margin-top: 4px;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .tooltip-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 24px;
    left: 0;
    z-index: 10;
    width: 200px;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    padding: 0.75rem;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.2s ease;
    font-size: 14px;
  }
  
  .tooltip-wrapper:hover .tooltip-content {
    visibility: visible;
    opacity: 1;
  }
  
  .add-to-cart-button {
    margin-left: auto;
    background-color: transparent;
    color: #fa7e17;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 25px
  }
  
  .add-to-cart-button:hover {
    color: black;
  }
  