.search{
    background-color: white;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 0 10px 0 0;
}

.search #search-input{
    font-family: 'Ubuntu', sans-serif;
    outline: none;
    border: none;
    border-radius: 0%;
    background-color: transparent;
    height: 100%;
    font-size: 15px;
    width: 90%;
    font-weight: normal;
    padding-left: 1rem;
    margin: 0;
}

.search #search-button{
    cursor: pointer;
    background-color: #fa7e17;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 1rem;
    height: 100%;
    margin: 0;
    color: white;
}