.register-container{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    background-color: #f5f5f5;
    height: 80vh;
    overflow: hidden;
}

.register-container #r-title{
    font-size: 20px;
    margin: 1rem 0;
    font-family: 'Ubuntu', sans-serif;
}

.step {
    display: flex;
    flex-direction: column;
    animation: slideIn 0.3s ease forwards;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
}

.step .step-sup{
    margin-left: 20px;
    display: flex;
}

.step .step-sup h1{
    font-size: 15px;
    margin: 10px 0;
    font-weight: normal;
    color: gray;
}

.step .step-sup h2{
    font-size: 20px;
    margin: 0 0 10px 0;
    font-weight: normal;
}

.step .step-sup #btn-back{
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: #fa7e17;
    font-size: 40px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step label{
    font-size: 12px;
    margin: 50px 0 5px 20px;
    font-weight: bold;
}

.step input{
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
    font-size: 15px;
    margin: 0 20px;
}

.input-register{
    width: auto;
}

.label-register{
    font-size: 15px;
    margin: 0 20px !important;
}

.step button{
    margin: 20px 20px 0 20px;
    padding: 1rem;
    background-color: #fa7e17;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 25px;
}

.step #link-terms{
    font-size: 12px;
    margin: 10px 20px;
}

.step #link-terms a{
    text-decoration: none;
    color: #fa7e17;
}

.step #link-terms a:hover{
    text-decoration: underline;
}

.step .line{
    height: 2px;
    background-color: #ccc;
    margin: 20px 20px 0 20px;
    width: auto;
}

.step #link-login{
    font-size: 15px;
    margin: 20px;
    text-align: center;
}

.step #link-login a{
    text-decoration: none;
    color: #fa7e17;
}

.step #link-login a:hover{
    text-decoration: underline;
}

.step .select-city__control{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 20px;
    font-size: 15px;
}

.step .select-city__control--is-focused{
    border: 1px solid #fa7e17;
}

.step .select-city__menu-list {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 20px;
    font-size: 15px;
    max-height: 120px;
}

.slide-in {
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn 0.3s forwards;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.pass-wrapper {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 20px;
    width: 90%;
    align-items: center;
}

.pass-wrapper input {
    width: 90%;
    margin: 0;
    padding: 1rem 0 1rem 0.5rem;
    font-size: 15px;
    border: none;
    outline: none;
}

.step label:nth-of-type(2){
    margin: 20px 0 5px 20px;
}

.toggle-pass {
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.password-checklist p {
    font-size: 15px;
    color: #999;
    transition: color 0.3s;
}

.password-checklist p.valid {
    color: green;
    font-weight: bold;
    margin: 0.5rem 1.5rem;
}

.password-checklist p.invalid {
    margin: 0.5rem 2.5rem;
    font-weight: bold;
}

.step #last-btn{
    margin-bottom: 30px;
}

.send-code{
    background-color: transparent !important;
    border: none !important;
    color: #fa7e17 !important;
    font-size: 15px !important;
    cursor: pointer !important;
    padding: 0 !important;
    text-decoration: underline !important;
    text-align: center !important;
    display: flex !important;
    align-items: center !important;
    justify-content: start !important;
    width: auto !important;
}

.input-register.last-name{
    margin-bottom: 20px;
}

.address-cont{
    margin: 0 20px;
}

.address-cont .address{
    margin-left: 0 !important;
}

.address-cont .city{
    margin-top: 20px !important;
}

.address-cont .mi__menu-list {
    max-height: 150px;
    overflow-y: auto;
    scrollbar-width: none;
    transition: border 0.2s;
}

.address-cont .mi__control--is-focused{
    border: 2px solid black;
    box-shadow: none;
}

.address-cont .mi__menu-list::-webkit-scrollbar, .price-select-unit__menu-list::-webkit-scrollbar {
    display: none;
}

.blank{
    height: 20px;
}